{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 34, "knowledge_revision": 71, "git_revision": "163baddaa845eefe5f899ec3858e04ad0cd8ef3d", "hash": "7c95f8a6252e968bdd6e26356f1c9bdb", "format-version": 4, "code-base-name": "default", "filename": "flask_backend_workspace/flask_backend/requirements.txt", "revision_history": [{"71": "163baddaa845eefe5f899ec3858e04ad0cd8ef3d"}]}